@model StoreFront.Data.EF.Models.Block

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Block</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRenewable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRenewable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStackable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStackable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StackSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StackSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProperTool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProperTool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luminous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luminous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transparent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transparent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterloggable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterloggable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flammable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flammable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedBlock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedBlock.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlockId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
