@model IEnumerable<StoreFront.Data.EF.Models.Block>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRenewable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStackable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StackSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProperTool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luminous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transparent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWaterloggable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flammable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedBlock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRenewable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStackable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StackSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProperTool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luminous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transparent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWaterloggable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flammable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedBlock.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
